<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" style="margin-top: -65px;">
    <div class="section" style="background-image: url(assets/images/rabbit.jpg);background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col m4" >
                    <img src="assets/images/logowhite.png" alt="" style="height: 250px;width: 220px;"><br><br>
                    <div class="white-text" style="font-size:large;">
                      
                        Ever wondered what bloggit is ... 🤔<br> 
                        Nope? <a href="#signup">Come on lets explore</a> 😜<br>
                        Yeaaahh!! Then what are u waiting for?👻<a href="#login">Come on lets have some fun👾</a><br>
                    </div>
                </div>
                <div class="col m5">

                </div>
                <div class="col m3">
                    <!-- <div class="card-panel">
                        ever wondered what bloggit is...if no come on lets explore
if yes come on lets have some fun
                    </div> -->
                </div>
            </div>
        </div>
       
    </div>
    <div class="section " style="background-image: url(assets/images/lifestyle.jpg);background-size: cover;">  
       
        <app-login></app-login>
       
    </div>
    <div class="section" style="background-image: url(assets/images/drops2.jpeg);background-size: cover;">
        <app-signup></app-signup>
    </div>
</div>