<div style="background-color: rgba(0, 25, 53);height: auto !important;">
    <div class="container" >
        <div class="card-panel grey ">
            <div class="center">
                <img src="{{url}}" style="width: 100%;height: 400px;">
                <br>
                <h5 style="color:  rgba(0, 25, 53);"> Blogs based on {{ name }} :)</h5>
            </div>
            <br><br>
            <div class="row">

                <div class="col m4 s12" *ngFor="let blog of blogs">
                    <!-- *ngFor="let blog of blogs"> -->
                    <div class="card">
                        <app-blog [options]="blog"></app-blog>
                    </div>
                </div>
            </div>
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large pulse" routerLink="/post"
                    style="background-color: rgb(62, 63, 65) !important;">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>