.inp:focus{
    /* border-color: 2px grey !important; */
    box-shadow: none;
    /* border-color: #5bc0de; */
    border-color: white;
    /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px gray; */

}

.nav1{
    background: rgba(100,100,100, 0.2) !important;
}

.nav2{
    background-color: rgba(0, 25, 53);
}