<br><br>
<br><br><br>

<div class="container center">
    <form #post="ngForm" (ngSubmit)="onPut(post)">
        <ul>
            <li *ngFor="let tag of tags">
                <input type="checkbox" ngModel [name]="tag.tags" id="cb{{ tag.id }}" />
                <label for="cb{{ tag.id }}" style="font-size: large;">
                    <img style="width: 100px;height: 100px;" src="{{urlPath}}public/public/images/{{tag.photo }}">
                    <br>
                    {{ tag.tags }}
                </label>
                &nbsp;&nbsp;&nbsp;
            </li>
        </ul>
        <button class="btn grey darken-3" type="submit" style="text-transform: capitalize;">select</button>
    </form>
</div>