<div class="modal-content"  style="padding-left: 13%;padding-top:30%;">
    <div class="row">
        <div class="col s11 m9"></div>
        <!-- <div class="col s2">
        </div> -->
        <div class="col s1 m3">
            <a data-target="modal2" class="modal-close" style="color:rgba(235, 235, 235, 0.616) !important;"><i class="fa fa-times-circle" style="font-size: x-large;"aria-hidden="true"></i></a>

        </div>
        </div>
    <div class="row">
        <div class="col s8">
            <input type="search" class="inp" style="background-color: rgba(235, 235, 235) !important;" [(ngModel)]="name">
        </div>
        <div class="col s4">
            <button class="btn black" style="margin-left:-12%;height: 45px;" (click)="onSearch()" >Search</button>
        </div>
    </div>
</div>
